.proposal-wrap {
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.proposal-card-work,
.proposal-card-chill,
.proposal-card-sport,
.proposal-card-night {
  font-size: 24px;
  font-weight: bold;
  color: #292929;
  border-radius: 20px;
  position: relative;
  background-size: cover;
}

.proposal-card-work {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.2)), image-url("icone_work.png");
}

.proposal-card-chill {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.2)), image-url("icone_chill.png");
}

.proposal-card-sport {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.2)), image-url("icone_sport.png");
}

.proposal-card-night {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.2)), image-url("icone_night.png");
}

// .proposals-title {
//   font-weight: lighter;
// }
