.proposal-wrap {
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
}

.proposal-card {
  border-radius: 20px;
}

.proposals-title {
  font-style: italic;
  font-weight: lighter;
}
