
<div class="footer">
  <div class="footer-links">
    <div class="col-xs-6 col-sm-4">

    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
<!--     <a href="#"><i class="fab fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Me Vestido
  </div>
</div>
</div>

