
<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/me_vestido/"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fa fa-heart"></i> at Me Vestido
  </div>
</div>


