<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="Meet the Team">

<div class="team">
 <h2>Meet the fashion geeks</h2>
  <br>
</div>

<div class="profile text-center">
 <div class="stat">
  <div class="stat-content">
  <%= image_tag("m.png", height: "100", class: 'your-avatar') %>
  <h3>Morgane</h3>
    <p>Founder</p>
      <p>Full Stack developper</p>
        <div class="emoji"> <i class="em em-blue_heart"></i></div>
         <br>


<div class="bottomcard">

<a class="fab fa-facebook-square" href="#"></a>
<a class="fab fa-linkedin" href="#"></a>
<a class="fab fa-instagram" href="#"></a>
</div>

      </div>
    </div>


    <div class="stat">
      <div class="stat-content">

        <%= image_tag "elisebitmoji.png", height: 100, class: 'your-avatar' %>
        <h3>Elise</h3>
        <p> Kitty CTO</p>
        <p>Full Stack developper</p>
        <div class="emoji"> <i class="em em-cat"></i></div>
        <br>


<div class="bottomcard">

<a class="fab fa-facebook-square" href="#"></a>
<a class="fab fa-linkedin" href="#"></a>
<a class="fab fa-instagram" href="#"></a>



    </div>
  </div>
</div>

    <div class="stat">
      <div class="stat-content">

        <%= image_tag "elsabitmoji.png", height: 100, class: 'your-avatar' %>

        <h3>Elsa</h3>
        <p> Marketing Manager</p>
        <p>Full Stack developper</p>
        <div class="emoji"><i class="em em-avocado"></i></div>
        <br>


<div class="bottomcard">

<a class="fab fa-facebook-square" href="#"></a>
<a class="fab fa-linkedin" href="#"></a>
<a class="fab fa-instagram" href="#"></a>

  </div>
  </div>

</div>


 <div class="stat">
      <div class="stat-content">
        <%= image_tag "valbitmoji.png", height: 100, class: 'your-avatar' %>
        <h3>Valentin</h3>
        <p> Designer</p>
        <p>Full Stack developper</p>
        <div class="emoji"><i class="em em-lower_left_crayon"></i></div>
        <br>

<div class="bottomcard">
<a class="fab fa-facebook-square" href="#"></a>
<a class="fab fa-linkedin" href="#"></a>
<a class="fab fa-instagram" href="#"></a>



</div>
  </div>
    </div>
