<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="Meet the Team">

<div class="team">
  <h2> Me Vestido Team </h2>
</div>

<div class="profile text-center">

<div class="stat">
  <div class="stat-content">
    <%= image_tag("morgane.jpg", height: "100", class: 'your-avatar') %>
    <h3>Morgane</h3>
        <p>Founder / Web development</p>
        <div class="emoji"> <i class="em em-blue_heart"></i></div>

      </div>
    </div>


    <div class="stat">
      <div class="stat-content">
        <%= image_tag "elise.jpg", height: 100, class: 'your-avatar' %>
        <h3>Elise</h3>
        <p> Kitty CTO / Web development</p>
        <div class="emoji"> <i class="em em-cat"></i></div>



      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <%= image_tag "elsa.jpg", height: 100, class: 'your-avatar' %>
        <h3>Elsa</h3>
        <p> Marketing Manager / Web development </p>
        <div class="emoji"><i class="em em-avocado"></i></div>

      </div>
    </div>


 <div class="stat">
      <div class="stat-content">
        <%= image_tag "valentin.jpg", height: 100, class: 'your-avatar' %>
        <h3>Valentin</h3>
        <p> Designer / Web development </p>
        <div class="emoji"><i class="em em-lower_left_crayon"></i></div>

      </div>
    </div>
