<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<div class="team">
  <h2>Meet the fashion geeks</h2>
</div>
<div class="container">
  <div class="row">

    <div class="col-xs-6 team-card">
      <%= image_tag("m.png", class: 'your-avatar') %>
      <h3>Morgane</h3>
      <h4>Founder</h4>
      <p>Full Stack developper</p>
      <div class="emoji"> <i class="em em-blue_heart"></i></div>
      <div class="bottomcard">
        <a class="fab fa-facebook-square" href="#"></a>
        <a class="fab fa-linkedin" href="#"></a>
        <a class="fab fa-instagram" href="#"></a>
      </div>
    </div>
    <div class="col-xs-6 team-card">
      <%= image_tag("elisebitmoji.png", class: 'your-avatar') %>
      <h3>Elise</h3>
      <h4>Kitty CTO</h4>
      <p>Full Stack developper</p>
      <div class="emoji"> <i class="em em-cat"></i></div>
      <div class="bottomcard">
        <a class="fab fa-facebook-square" href="#"></a>
        <a class="fab fa-linkedin" href="#"></a>
        <a class="fab fa-instagram" href="#"></a>
      </div>
    </div>
      <div class="col-xs-6 team-card">
      <%= image_tag("elsabitmoji.png", class: 'your-avatar') %>
      <h3>Elsa</h3>
      <h4>Marketing Manager</h4>
      <p>Full Stack developper</p>
      <div class="emoji"> <i class="em em-avocado"></i></div>

      <div class="bottomcard">
        <a class="fab fa-facebook-square" href="#"></a>
        <a class="fab fa-linkedin" href="#"></a>
        <a class="fab fa-instagram" href="#"></a>
      </div>
    </div>
      <div class="col-xs-6 team-card">
      <%= image_tag("valbitmoji.png", class: 'your-avatar') %>
      <h3>Valentin</h3>
      <h4>King Designer</h4>
      <p>Full Stack developper</p>
      <div class="emoji"> <i class="em em-lower_left_crayon"></i></div>
      <div class="bottomcard">
        <a class="fab fa-facebook-square" href="#"></a>
        <a class="fab fa-linkedin" href="#"></a>
        <a class="fab fa-instagram" href="#"></a>
      </div>
    </div>
  </div>
</div>
