<div class="banner" style="background-image: url('<%= image_path("home_page_iphone.jpg") %>')">
  <div class="main-button">
    <%= link_to new_proposal_path do %>
    <%= image_tag "bounce.png" %>
    <% end %>
  </div>
</div>

