.btn-vestido {
  background:linear-gradient(lighten($brand-success, 10), $brand-success);
  border-radius: 10px;
  box-shadow: 0 2px 1px rgba(0,0,0,0.2);
  border: linear-gradient(darken($brand-success, 10));
  color:  #474447;
}

.btn-main {
  background-color: $white-rose;
  border-color: $white-rose;
  color: #292929;
  border-radius: 8px;
}

.btn-see {
  background-color: white;
  border-color: white;
  color: #292929;
  border-radius: 8px;
}

.btn-add {
  background-color: #292929;
  border-color: #292929;
  color: white !important;
  border-radius: 8px;
}
