.btn-facebook {
  width: 90px;
  height: 90px;
  background-image: url("logo_fb.png");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
