.card {
  height: 170px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover;
  background-position: center;
  color: #474447;
  position: relative;
  width: 200px;
}

.card-category {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 25px;
  text-transform: uppercase;
}

// .card-description {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }
.card-description h2 {
  font-size: 20px;
  bottom: 20px;
  left: 10px;
  right: 10px;
  position: absolute;
  text-align: center;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
