.background {
  position: relative;
  width: 100%;
  height: 250px;
  width: 167px;

  img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }
}

.outfit {
  .background:first-child img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .background:first-child {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .background:last-child img {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .background:last-child {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .background:nth-child(2) {
    z-index: 1000;
    margin-bottom: -60px;
  }

  .card-info {
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.8);
    font-weight: bold;
    border-radius: 60px;

    .infos {
      text-align: center;
    }
  }

  .card-info:hover {
    opacity: 1;
    transition: .5s all ease;
    border-radius: 60px;
  }

  // .background::after {
  //   content: "📘";
  //   position: absolute;
  //   top: 0px;
  //   left: 50%;
  // }

}
