/* Main navbar */
.navbar-mevestido-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.banner {
  background-image: url("images/logo.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 160px);
}


.navbar-mevestido {
  background-color: white;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
}

* {
  box-sizing: border-box;
}

/* ancienne navbar ------------------------
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 90px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  _________________________________________


/* Logo */
.navbar-wagon-brand img {
  height: 90px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-position: right,
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
