
// # Margin modification vue avec Will

.mt {margin-top: 20px;}
.mb {margin-bottom: 20px;}
.mr {margin-right: 20px;}
.ml {margin-left: 20px;}


.mt0 {margin-top: 0px;}
.mb0 {margin-bottom: 0px;}
.mr0 {margin-right: 0px;}
.ml0 {margin-left: 0px;}

.mt\- {margin-top: 10px;}
.mb\- {margin-bottom: 10px;}
.mr\- {margin-right: 10px;}
.ml\- {margin-left: 10px;}

.mt\-\- {margin-top: 5px;}
.mb\-\- {margin-bottom: 5px;}
.mr\-\- {margin-right: 5px;}
.ml\-\- {margin-left: 5px;}


.mt\+ {margin-top: 40px;}
.mb\+ {margin-bottom: 40px;}
.mr\+ {margin-right: 40px;}
.ml\+ {margin-left: 40px;}




// # Padding modification vue avec Will



.pt {padding-top: 20px;}
.pb {padding-bottom: 20px;}
.pr {padding-right: 20px;}
.pl {padding-left: 20px;}


.pt0 {padding-top: 0px;}
.pb0 {padding-bottom: 0px;}
.pr0 {padding-right: 0px;}
.pl0 {padding-left: 0px;}

.pt\- {padding-top: 10px;}
.pb\- {padding-bottom: 10px;}
.pr\- {padding-right: 10px;}
.pl\- {padding-left: 10px;}

.pt\-\- {padding-top: 5px;}
.pb\-\- {padding-bottom: 5px;}
.pr\-\- {padding-right: 5px;}
.pl\-\- {padding-left: 5px;}


.pt\+ {padding-top: 40px;}
.pb\+ {padding-bottom: 40px;}
.pr\+ {padding-right: 40px;}
.pl\+ {padding-left: 40px;}
